<form class="form-inline" action="/action_page.php">
    
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>


  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">name</h4>
      <p class="card-text">number of repositorie.</p>
      <a href="#" class="btn btn-primary">view repositories</a>
    </div>
  </div>