.card{

    margin-left: 3px;
    margin-right: 4pc;
    background-color:greenyellow;
    margin: 5px;
    box-shadow: 10px 10px 5px -1px rgba(41, 128, 0, 0.66);
    -webkit-box-shadow: 10px 10px 5px -1px rgba(41, 128, 0, 0.66);
    -moz-box-shadow: 10px 10px 5px -1px rgba(51, 128, 0, 0.66);
}
.des{
    font-size: larger;
    font-weight: bolder;
}
.form{
    text-align: center;
}
.display{
    margin: 5px;
    box-shadow: 10px 10px 5px -1px greenyellow;
    -webkit-box-shadow: 10px 10px 5px -1px greenyellow;
    -moz-box-shadow: 10px 10px 5px -1px greenyellow;
}
.out{
    color: (41, 128, 0);
    font-style: italic;
    
}

