<div class="container">
  <ng-progress></ng-progress>
  <div class="row">
    <div class="col-md-5 form">
      <div class="card">
        <form action="/action_page.php">
          <label for="username">Username:</label>
          <input type="text" class="form-control" placeholder="Enter Username" id="username" #Search>
          <button type="submit" class="btn btn-success btn-sm" (click)="doSearch(Search.value)">Submit</button>

        </form>
      </div>
    </div>
    <div class="col-md 7">
      <div class="card" style="width:500px">
        <div class="card-img-overlay">
          <h4 class="card-title">Name:{{ users. login}} </h4>
          <p class="card-text">number of repositories:{{ users.public_repos }}</p>
        </div>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-md-4" *ngFor='let repo of myRepository.newRepository'>
        
        <div class="card bg-light mb-3 p-2"  style="max-width: 18rem;" >
          <div class="card-header" style="font-weight: bold;">Repository Name: {{ repo.full_name| titlecase }} </div>
          <div class="card-body">
            <a type="button" class="btn btn-success btn-sm" href="{{repo.html_url}}" target="_blank">Github Link </a>
            <div class="des"> 
            <p class="card-text " style="color:aqua;"> Description:</p> {{ repo.description }}
          </div>
           
            <p class="card-text text" style="color:aqua;">  Date Created:{{ repo.created_at | date}} </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>